.card:hover {
    box-shadow: 5px 10px 20px 1px rgb(248, 249, 250);
}
.card-title{
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
#delete:hover{
   background: #dc3545;
   color: white; 
}
#delete{
    align-content: center;
    border: 1.5px solid #dc3545;
    border-radius: 5%;
    color: #dc3545;
}
