.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  video {
    height: 50vh;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    position: relative;
  }